.up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
}

.up--visible {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.up__go {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #ee6c4d;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #e0fbfc;
	font-size: 24px;
	text-decoration: none;
	transition: transform 0.2s ease-in-out;
	overflow: hidden;
}

.up__go:hover {
	transform: translateY(-5px);
}
